# Set theme
theme: alembic-jekyll-theme

# File excludes
exclude:
- README.md
- Gemfile
- Gemfile.lock
- netlify.toml

# Set plugins
plugins:
- jekyll-sitemap
- jekyll-mentions
- jekyll-paginate
- jekyll-seo-tag
- jekyll-redirect-from
- jekyll-feed
- jekyll-commonmark
- jekyll-include-cache
- jemoji

# Site settings
url: 'https://scoutosborne.github.io/'
baseurl: ''
title: 'Scout Osborne'
description: "Scout Osborne's personal website"
permalink: pretty
logo: /images/scout_osborne_favicon.jpeg

# Pagination
paginate: 5
paginate_path: blog/page:num

# Header nav
navigation_header:
- title: Home
  url: "#home"
- title: About
  url: "#about"
- title: CV
  url: "#cv"
- title: Projects
  url: "#projects"

# Footer nav
navigation_footer:
- title: Back to top
  url: "#top"

# Collections
collections:
  projects:
    title: Projects
    output: true
    description: "My work and projects"
    feature_text: |
      Welcome to my projects
    feature_image: "https://picsum.photos/2560/600?image=866"

# Collection settings
defaults:
  -
    scope:
      path: ""
      type: "projects"
    values:
      layout: post
  -
    scope:
      path: ""
      type: "pages"
    values:
      layout: page

